.shimer{
    background: linear-gradient(to right,
            #738291 20%,
            #d6dbe0 30%,
            #bbbfc4 70%,
            #738291 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 8s ease-in-out infinite reverse;
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.shimer:hover{
    background: transparent;
    -webkit-text-fill-color: white;}